@import url(../lib/IRANSans5/css/fontiran.css);

body {
    margin:0;
}

.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
}
.logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
}

.inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
    font-family: IRANSans;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}

.boxInput{
    /*background: rgba(255,255,255,.2);*/
    width: 18vw;
}

.boxInput .boxBtn{
    margin: 20px;
}

.boxInput .boxBtn input{
    padding: 5px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #ffffff;
    font-family: IRANSans;
    width: 70%;
}

.boxInput .boxBtn select{
    padding: 5px;
    border-radius: 8px 0px 0px 8px;
    border: 0px;
    margin-right: -4px;
    font-family: IRANSans;
}

.boxInput .sendBtn{
    background: rgba(255,255,255,.2);
    padding: 8px 25px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,26,79,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,26,79,0);
    box-shadow: 0px 0px 0px 0px rgba(0,26,79,0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    font-family: IRANSans;
}

.boxInput .sendBtn:hover{
    background: rgba(255,255,255,.3);
    -webkit-box-shadow: 0px 8px 17px -4px rgba(0,26,79,1);
    -moz-box-shadow: 0px 8px 17px -4px rgba(0,26,79,1);
    box-shadow: 0px 8px 17px -4px rgba(0,26,79,1);
    padding: 8px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.message{
    margin: 20px 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.3);
    border-radius: 8px;
    display: none;
}